<p id="notice"><%= notice %></p>

<h1>Nikulogs</h1>

<table>
  <thead>
    <tr>
      <th>Nikudate</th>
      <th>Nikumenu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nikulogs.each do |nikulog| %>
      <tr>
        <td><%= nikulog.nikudate %></td>
        <td><%= nikulog.nikumenu %></td>
        <td><%= link_to 'Show', nikulog %></td>
        <td><%= link_to 'Edit', edit_nikulog_path(nikulog) %></td>
        <td><%= link_to 'Destroy', nikulog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nikulog', new_nikulog_path %>
