<p id="notice"><%= notice %></p>

<p>
  <strong>Nikudate:</strong>
  <%= @nikulog.nikudate %>
</p>

<p>
  <strong>Nikumenu:</strong>
  <%= @nikulog.nikumenu %>
</p>

<%= link_to 'Edit', edit_nikulog_path(@nikulog) %> |
<%= link_to 'Back', nikulogs_path %>
